streamlit
groq
# --- EL BLOQUE DE ESTABILIDAD ---
# Usamos versiones específicas que sabemos que funcionan bien juntas
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-text-splitters==0.2.2
langchain-groq==0.1.9
# -------------------------------
pydantic>=2.0.0
yfinance
lxml
pandas
matplotlib
